@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Employees living in England</h1>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="error">
                <p class="error-message">@Model.ErrorMessage</p>
            </div>
        }
        
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label-bold">
                    <span>Roughly what percentage of your employees live in England?</span>
                    <div class="form-hint">If you're unsure, enter 100</div>
                </label>
                <input name="englishFraction" type="number" class="form-control"
                       value="@(Model.EnglishFraction > 0 ? Model.EnglishFraction.ToString() : "")" min="1" max="100" style="width:50px;" />
                <span>%</span>
            </div>
            <input name="englishFractionSubmit" type="submit" class="button" value="Next" />
        </form>


        @Html.Partial("_PreviousAnswers", Model)
    </div>
</div>