@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Enter your organisation’s UK payroll</h1>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="error">
                <p class="error-message">@Model.ErrorMessage</p>
            </div>
        }
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label-bold">
                    <span>Your organisation’s annual UK payroll</span>
                </label>

                <span>£</span>
                <input name="paybill" type="number" class="form-control-1-3" aria-label="Annual payroll in whole pounds"
                       value="@(Model.Paybill > 0 ? Model.Paybill.ToString() : "")"/>
            </div>
            <input name="paybillSubmit" type="submit" class="button" value="Save and continue"/>
        </form>
    </div>
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function() {
            ga('send', 'pageview', '/Paybill');
        });
    </script>
}
