@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<h2 class="heading-xlarge">How much is your Paybill?</h2>
<p>Please enter your total annual PAYE bill:</p>
<form>
    <div class="form-group">
        <span>£</span>
        <input type="number" class="form-control-1-3" aria-label="Annual PAYE bill in whole pounds" />
    </div>
    <a href="@Url.Action("TrainingCourse")" class="button">Next</a>
</form>