@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<h2 class="heading-xlarge">How much is your Paybill?</h2>
<p>Please enter your total annual PAYE bill:</p>
<form method="post">
    <div class="form-group">
        <span>£</span>
        <input name="paybill" type="number" class="form-control-1-3" aria-label="Annual PAYE bill in whole pounds" />
    </div>
    <input name="paybillSubmit" type="submit" class="button" value="Next"/>
</form>