

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge">Privacy and cookies</h2>

        <h3 class="heading-large">Privacy</h3>
        <p>This service is run by the Skills Funding Agency (“SFA”). We’ll handle the information you give to us according to the <a href="https://www.gov.uk/government/publications/sfa-privacy-notice" rel="external"  target="_blank">Skills Funding Agency personal information charter.</a></p>
        <h3 class="heading-large">Cookies</h3>
        <p>This service puts small files (known as ‘cookies’) on to your computer. Most websites do this. These cookies are used to:</p>
        <p>
            <ul class="list list-bullet">
                <li>help us understand how you use the service, so we can improve it</li>
                <li>remember what notifications you’ve seen so you’re not shown them again</li>
                <li>temporarily store the information you enter (eg, your postcode)</li>
            </ul>
        </p>
        <p>The cookies aren’t used to identify you personally. They’re put on to your computer to make the service work better for you. You can edit or delete the cookies.</p>
        <p>Find out how to <a href="http://www.aboutcookies.org/" rel="external" target="_blank">edit and delete cookies.</a></p>
    </div>
</div>
