@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Estimate my apprenticeship funding</h1>
        <p>Use this tool to estimate if your organisation will pay the apprenticeship levy, how much your organisation will have available to spend on apprenticeships and how much the government will contribute towards the cost of training.</p>
        <p>You’ll need to know your organisation’s annual UK payroll.</p>
        <details style="margin-bottom: 20px" role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What is my payroll?</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p>Your payroll is based on the total amount of employee earnings you use to calculate employer National Insurance contributions before any deductions. </p>
                <p>For more detailed guidance see the <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work#paying-the-apprenticeship-levy" target="_blank">employer guide to the levy</a>.</p>

            </div>
        </details>
        <p>It would also help if you know:</p>
        <p>
            <ul class="list list-bullet">
                <li>the percentage of your workforce that live in England</li>
                <li>the type of apprenticeship training you will need</li>
            </ul>
        </p>
        <a href="~/forecast/" class="button button-start">Start</a>
    </div>

</div>
<div class="grid-row">
    <div class="column-two-thirds disclaimer">
        <p>
            <strong>Disclaimer</strong>
            <span>This tool is designed to be illustrative only. The actual amount of levy you will pay may vary. This tool may underestimate the amount of levy you will pay and therefore receive if your organisation is part of a group. The Department for Business, Innovation and Skills is not responsible for the consequences of any decisions or actions taken in reliance on the information provided by this tool.</span>
        </p>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            ga('send', 'pageview', '/Welcome');
        });
    </script>

}