@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge">Estimate your apprenticeship funding</h2>
        <h3 class="heading-medium">Who this is for</h3>
        <p>Any levy and non levy paying UK organisation with employees in England.</p>

        <p>
            <h3 class="heading-medium">What you can do</h3>
            Estimate:
            <ul class="list list-bullet">
                <li>If your organisation needs to pay levy or not</li>
                <li>If your organisation does need to pay levy, the amount that will need to be paid</li>
                <li>How much you’ll have available to spend on apprenticeships</li>
                <li>The amount your organisation will need to pay above levy funding if your levy funding is insufficeint or do not pay levy</li>
            </ul>
        </p>
        <h3 class="heading-medium">You need to know</h3>
        <p>
            <ul class="list list-bullet">
                <li>Your organisation’s gross annual payroll</li>
            </ul>
        </p>
        <h3 class="heading-medium">Optional</h3>
        <p>
            <ul class="list list-bullet">
                <li>Your organisation’s English percentage. This is a calculation by HMRC and based on the proportion of your workforce who lived in England in the previous tax year</li>
                <li>the type of apprenticeship training your organisation is going to pay for</li>
            </ul>
        </p>

        <a href="~/forecast/" class="button button-start">Start</a>
    </div>
</div>