@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<h2 class="heading-xlarge">Calculate my apprenticeship funding</h2>
<p>To see how much levy you will pay, you need to know your organisation's annual paybill.</p>
<p>To view your monthly levy projections, you can also enter the type of apprenticeship training and number of apprentices you'll be taking on.</p>

<a href="~/forecast/" class="button">Start</a>