@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<h2 class="heading-xlarge">Welcome</h2>
<p>You need to know:</p>
<ul class="list list-bullet">
    <li>Point 1</li>
    <li>Point 2</li>
    <li>Point 3</li>
</ul>
<a href="@Url.Action("Paybill")" class="button">Start</a>