@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge">Estimate my apprenticeship funding</h2>
        <p>
            Estimate your organisation's:
            <ul class="list list-bullet">
                <li>levy amount</li>
                <li>monthly available funds</li>
            </ul>
        </p>

        <a href="~/forecast/" class="button button-start">Start</a>

        <h3 class="heading-medium">What you need</h3>
        <p>
            You need:
            <ul class="list list-bullet">
                <li>your organisation’s annual paybill amount. Your finance or HR department will have this information</li>
            </ul>
        </p>
        <p>If you know the type of apprenticeship training and the number of apprentices you’re taking on, you can also estimate your monthly payments to training providers.</p>
    </div>
</div>