@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge">Estimate your apprenticeship funding</h2>
        <h3 class="heading-medium">Who this is for</h3>
        <p>
            Any UK organisation with employees in England.
        </p>

        <p>
            <h3 class="heading-medium">What you can do</h3>
            Estimate your organisation's:
            <ul class="list list-bullet">
                <li>levy amount</li>
                <li>monthly available funds</li>
            </ul>
        </p>
        <h3 class="heading-medium">You need to know</h3>
        <p>
            Your organisation’s annual payroll amount.
        </p>
        <h3 class="heading-medium">If you know</h3>
        <p>
            <ul class="list list-bullet">
                <li>your organisation’s English percentage. This is a calculation based on the proportion of your workforce who lived in England in the previous tax year</li>
                <li>the apprenticeship training you will choose</li>
                <li>the number of apprentices your organisation is taking on</li>
            </ul>
            You can also estimate your levy amount. However, this is optional.
        </p>

        <a href="~/forecast/" class="button button-start">Start</a>
    </div>
</div>